{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ "/" | relative_url }}" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            {% capture pp_prev %}page{{ paginator.previous_page }}/{% endcapture %}
            <a class="newer-posts" href="{{ pp_prev | relative_url }}" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{ paginator.page }} of {{ paginator.total_pages }} </span>
    {% if paginator.next_page %} 
        {% capture pp_next %}page{{ paginator.next_page }}/{% endcapture %}
        <a class="older-posts" href="{{ pp_next | relative_url }}" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
</nav>
{% endif %}
