---
layout: default
class: 'tag-template'
navigation: True
current: tag
---
<main class="site-main">

<section class="taxonomy">
    <header class="single-header gh-canvas">
        <h1 class="single-title">{{ page.tag | capitalize }}</h1>
        {% assign visible_posts = paginator.posts | where_exp: "p", "p.unlisted != true" %}
        <div class="single-excerpt">
            {{ visible_posts.size }} post{% if visible_posts.size != 1 %}s{% endif %}
        </div>
    </header>
</section>

<!-- The tag below includes the post loop - partials/loop.hbs -->
{% include loop.html %}

</main>
